

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size:16px !important;
    
}

header {
    height:8rem;
    display: flex !important;
    align-items: center;
    margin-left: 25PX;  
}

.center {
    display: flex;
    justify-content: center;
}

.headline {
    background-image: url('../images/image.png');
    background-size: cover;
    width:100%;
    height:25.6rem;
    color: #fff;
    margin: 0 auto;
    
}


.headline h1 {
 font-size:2.5em;   
 text-align: center;
 padding-bottom: 1rem;    
}    

.headline h4 {
    font-size:2em;  
    font-weight: 300;
    width: 65%;
    line-height: 2.5rem;
    text-align: center;
    margin: 0 auto;
}

.headline_text {
  padding-top:6rem;
}
.contact {
    width:63rem!important;
    height:40rem;
    border-radius: 15px;
    position: absolute;
    margin-top:20rem;
    margin-bottom:55rem;
    background-color: white;
    vertical-align: middle;
    box-shadow: 5px 10px 28px 5px rgba(0, 0, 0, 0.5);  
  
 
}

.get_form{
    background-color: #f2f2f2;
    height:40rem;
    border-radius: 15px 0px 0px 15px;
    float:left;

}


 .contact .text {
    margin-top:55px;
    margin-left:50px;
}

.text h1 {
    color: #333E48;
}

 .contact .space {
    margin-top: 30px;
    margin-bottom: 30px;
}


.line {
   border: 2px solid lightblue;
    margin-bottom: 10px;
    width: 45px;
}

.social img {
    width:28px;
    height: auto;
    margin-top:5px;
    margin-left:0px;
}

.icons {
   display: flex;
   align-items: center;
}

.icons a:nth-child(2) {
   margin-top:2px;
}

.icon {
    margin: 10px;
}


.contact_form {
  width:544px;
  height:100%;
  

}

.contact_form .text h1 {
 color: #333E48;
      
}

.contact_form .margin h4 {
 font-size:1.8rem;    
}

.contact_form .margin p {
 font-size:1.5rem;    
}

.map {
    margin-top:40rem;
    height:45rem;
    background-image:url('../images/footer.png');
    background-size: cover;
     width:100%;
}

footer {
    height:9rem;
    background-color: #333E48;
    display: flex !important;
    align-items: center;
    
}

footer img {
    height:30px;
    width: auto;
    margin-left: 25px;
}

.text .asterisk {
    color:#FC672F;
}

.button{
   background-color:#FC672F;
    color:#fff;
    font-size:1.5rem;
    width:100%;
    height:45px;
    border:none;
    margin-top:-15px;
    cursor: pointer;
    font-weight: bold;
    
    
} 

.button:hover {
   background-color: #EA622E;
    box-shadow: 3px 3px 16px 3px rgba(0, 0, 0, 0.1);  
}

form {
   margin-top:28px; 
   width:544px;
}

form input {
    width: 250px;
    border-radius: 5px;
    border:1px solid #D8D8D8;
    height: 25px;
    margin-top:1px;
    margin-bottom:10px;
    color: #55565A;
    padding-left: 5px;
    font-size:1.0rem !important;
}

form select {
    display: block;
    width: 250px;
    border-radius: 5px;
    border:1px solid #D8D8D8;
    height: 25px;
    padding-left: 5px;
    font-size:1.0rem !important;
    margin-top:1px;
}

.country option value {
    font-size:1.5rem;
    
}

.comments {
    height:114px;
    width:96%;
    border-radius: 5px !important;
    border:1px solid #D8D8D8;
    margin-top:1px !important;
    color: #55565A;
    padding-left: 5px;
    font-size:1.0rem;
   
}


.arrow{
   
     color:#55565A;
 background:url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
    -webkit-appearance: none;
     background-position-x: 224px;
    
}


.alter {
    margin-top:10px !important;
}

.container .remove_padding {
    padding-left: 0px;
    padding-right: 0px !important;
}

.add_margin {
    margin-top:25px;
    margin-bottom:25px;
}


.add_comment_margin {
    margin-top:10px;
}

/*MEDIA QUERY CODE*/

@media only screen and (max-width: 768px) {
 .contact {
     margin-top:22rem;
    width:100% !important;
     border-radius: 0px;
     font-size:1.75rem;
  }
    
    .headline {
        background-image: url('../images/image_mobile.png');
        height:20rem;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        
    }
    
    .headline h1 {
        font-size:2.0rem;
        line-height: 2.5rem;
       
    }
    .headline h4 {
        font-size:1.75rem;
        text-align: center;
        line-height: 2.5rem;
        width: 90%;
         margin-bottom: 6rem !important;
    }
    
    .get_form{
    border-radius: 0px;
    width: 100%;  
    height: 50rem;  
    }
           
    .margin h4 {
        font-size:2rem;
    }
    
    .margin p {
        font-size:1.8rem;
    }
  
     .contact .text {
    margin-left:30px;
}
    
    form input {
    width: 80%;
    height: 45px;
    font-size:1.7rem !important;
        padding-left: 10px;
 
}

form select {
    display: block;
    width: 80%;
    height: 45px;
    font-size:1.7rem !important;
    padding-left: 10px;

}
    .contact_form {
        height: 90rem;
        width: 100%;
       
    }

    .comments {
    height:114px;
    width:80%;
        font-size:1.7rem !important;
    
}
    
    .button{
    width:80%;
    }
    
    .get_form h4 {
        font-size:2rem;
    }
    
    .map {
        width: 100%;
        margin-top:115rem;
        background-size: cover;
    }
    
    footer {
        width:100%;
    
    }
    
    footer img {
       margin-left:15px;
    
    }
    
    .add_margin {
    margin-top:5px;
    margin-bottom:5px;
}

.add_comment_margin {
    margin-top:5px;
}
    
    .button{

    margin-top:-5px !important;
    }
    
    .arrow{
   
    background-size:25px;
     background-position-x: 384px;
    
}
} 